*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: "Roboto";
  background-color: #2e3440;
  color: #eceff4;
  user-select: none;
}

#credit {
  margin-top: 4vmin;
}
